body {
    margin: 0;
    margin-top: 55px;
    background-color: rgb(233, 231, 231);
}
p {
    margin: 0;
}
.paras {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.paras p {
    padding-bottom: 25px;
}
.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.middle-container div img {
    max-width: 200px;
    height: 200px;
    border: none;
    border-radius: 100px;
}
.middle-container div img:hover{
    box-shadow: 0 0 20px black;
}
.middle-container div {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    max-width: 1000px;
    margin: 10px;
}
.middle-container div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-in {
    font-size: 45px;
    font-family: arial;
    cursor: pointer;
    color: lightgreen;
}
.middle-container div div h1 {
    color: rgb(30, 201, 193);
    font-size: 25px;
}
.para {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

